.DS_Store
.gradle
/build/
/gradle
!gradle/wrapper/gradle-wrapper.jar
/out/
/target/
gradlew
gradlew.bat
settings.gradle

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr